<section class="main-container main-body">
	
<div class="JsBlock">
  <%= render :partial => 'details', :locals =>  {:contect => @contect} %>
  </div>
<div class="no-margin list" style="border-bottom:none">

</div>
</section>